* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.imgbox {
  float: left;
  text-align: center;
  width: 120px;
  border: 1px solid gray;
  margin: 4px;
  padding: 6px;
 

}

button {
  width: 100%;
  background: #4CCF50;
  color: white;
  font-size: 1em;
  font-weight: bolder;
  border-radius: 10px;
  padding: 05px;

}
.contain{
	 margin-left:  auto;
  margin-right: auto ;
  width: 50%;
}

/* Style the top navigation bar */


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
a{
  text-decoration: none;
}

.active {
  background-color: #04AA6D;
}
/* Style the top navigation bar */




/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}